<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet" />
    <link href="{{ site.baseurl }}/assets/css/colors-dark.css" rel="stylesheet" />
  </head>

  <body>
    <header id="header">
      <h1><a href="{{ site.baseurl }}/"><i class="icon-sun"></i> {{ site.name }} </a></h1>
      <p>{{ site.description }}</p>
    </header>

    <div id="page">
      <div id="sidebar">
        <nav>
          <ul>
            <li><a href="{{ site.url }}/">Back to WCX</a></li>

            <br/>

            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/archives">Archive</a></li>
            <li><a href="{{ site.baseurl }}/feed.xml">RSS Feed</a></li>

            <br/>

            <li><a target="_blank" href="https://twitter.com/wisecenterx">Twitter</a></li>
            <li><a target="_blank" href="https://www.linkedin.com/company/wisecenterexchange/">Linkedin</a></li>
            <li><a target="_blank" href="https://www.instagram.com/wise_center_exchange/">Instagram</a></li>
            <li><a target="_blank" href="https://www.reddit.com/user/wisecenterexchange">Reddit</a></li>
          </ul>
        </nav>
      </div>

      <div id="content">
        {{ content }}
      </div>
    </div>

    <footer id="footer">
      <p class="copyright">
        Copyright &copy; {{ site.time | date: '%Y' }} Wise Center Exchange, Inc.
      </p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/jquery.mobilemenu.min.js"></script>

    <script>
      $(document).ready(function(){
        $('#sidebar nav ul').mobileMenu({'topOptionText': 'Menu', 'prependTo': '#sidebar nav'});
      });
    </script>
  </body>
</html>
