---
layout: default
---
<article class="post">
	{% if page.external-url %}
		<h1>
			<a href="{{ site.baseurl }}{{ page.external-url }}">{{ page.title }}</a>
			<a class="anchor" href="{{ site.baseurl }}{{ page.url }}">
				<i class="icon-anchor"></i>
			</a>
		</h1>
	{% else %}
		<h1><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h1>
	{% endif %}

	<div class="post-content">{{ content }}</div>

	<p class="meta">
		Posted on
		<span class="postdate">{{ page.date | date: "%b %d, %Y" }}</span>
	</p>
</article>
